<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag "styles" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Middleman" %></title>
  <!-- If you have additional stylesheets and JavaScript files, you can include them here -->
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
</head>
<body>
  <%= yield %>
</body>
</html>
